.product-page {
  background: #ffd3ae;
  position: relative;
  min-height: 100vh;
}

.user-reply {
  background-color: #ffdab8;
}

.reply-section {
  display: none;
}

.close-button {
  right: -0.4em;
  top: 1.4em;
}

.reply-button {
  display: none;
}

.show {
  display: block !important;
}

.product-image-container {
  grid-area: product-image;
}

.product-information {
  grid-area: product-information;
}

.product-description p {
  margin-bottom: 0.5em;
}

.review-container {
  grid-area: product-review-container;
}

.review {
  background-color: #ffa75b;
}

.reply-review-button {
  background-color: hsl(28, 100%, 86%) !important;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.reply-button {
  background-color: hsl(28, 100%, 86%) !important;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.user {
  transition: .1s;
}

.user:hover {
  cursor: pointer;
  background-color: #FFD3AE;
  box-shadow: 0px 0px 2px 1px rgba(0, 47, 254, 0.3);
}

.user-user-reply {
  transition: .1s;
}

.user-user-reply:hover {
  cursor: pointer;
  background-color: #FFA75B;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .5);
}

.user img,
.user-reply img {
  object-fit: cover;
}

.product-card {
  display: grid;
  grid-template-areas:
    "product-image product-information product-information"
    "product-review-container product-information product-information";
  gap: 1em;
}

@media screen and (max-width: 850px) {
  .product-card {
    grid-template-areas:
      "product-image"
      "product-information"
      "product-review-container";
  }

  .product-image-container {
    width: 100% !important;
  }

  .review {
    width: 100%;
  }
}
