.product {
  background-color: #facba7;
  width: 175px;
  /* height: 300px; */
  border-radius: 6px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all .1s;
}

.product:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.productrating {
  /* display: flex; */
}

.productlocation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonbuy {
  margin: 0;
  padding: 0;
  padding-inline: .4em;
  font-size: .9rem;
  min-height: 2em;
  border-radius: 6px;
  border-color: antiquewhite;
  border-style: solid;
  background-color: antiquewhite;
  cursor: pointer;
}

.seller {
  top: 1.2em;
}

.buttonbuy:hover {
  transform: scale(1.05);
  background: rgb(240, 220, 194);
}

.product-image-container {
  max-width: 500px !important;
}

.productimg {
  /* background-size: cover; */
  /* background-position: center center; */
  object-fit: cover;
  /* height: 120px; */
  border-radius: 2px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .product {
    width: 45%;
  }
}