a {
  color: #eda27c !important;
  text-decoration: none !important;
}

.footer {
  display: flex;
  background-color: #ffefe5;
  /* background-color: #FFE7D3 !important; */
  width: 100%;
}

.logofooter {
  width: 210px;
}

.footer2, .footer3 {
  color: #eda27c;
}

.barcode {
  width: 80px;
}

.link {
  line-height: 25px;
  margin-right: 50px;
  color: #eda27c;
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
}

.sosmed {
  text-decoration: underline !important;
}

@media only screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
  }
}