.flexitem {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
}
.category-container {
  min-height: 60px;
  background-color: #fec491;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-wrap: wrap;
}

.landing-page {
  min-height: 100vh !important;
  position: relative;
  padding-bottom: 200px;
  background-color: #ffe7d3;
}

.category-item {
  display: block;
  background-color: #fec491;
  font-size: large;
  color: #855f35;
  font-weight: bold;
  transition: all .1s;
}

.category-item:hover {
  background-color: #e8a265 !important;
  cursor: pointer;
  color: rgb(72, 46, 11);
}

.productContainer {
  padding: 20px;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  min-height: 400px;
  flex-wrap: wrap;
}