.flexitem {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
}

.category-container {
  height: 50px;
  background-color: #fec491;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  overflow: scroll;
}

.landing-page {
  overflow: hidden;
  min-height: 100vh !important;
  background-color: #ffe7d3;
  /* background: linear-gradient(to bottom, #FFE7D3, #FFEFE5);  */
}

.category-item {
  display: block;
  background-color: #fec491;
  font-size: large;
  color: #855f35;
  font-weight: bold;
  transition: all .1s;
  max-height: 100%;
}

.category-item:hover {
  background-color: #e8a265 !important;
  cursor: pointer;
  color: rgb(72, 46, 11);
}

.productContainer {
  padding: 20px;
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}