.navbar {
  background-color: #FFE7D3;
}

.profile-header {
  --padding: 2em;
  background-color: #ffefe5;
  width: 100%;
  height: 70px;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.profile-navbar-brand {
  height: 100%;
}

.profile-img-logo-wrapper {
  height: 45px;
}

.profile {
  min-height: 100vh !important;
}

.profile-brand {
  width: 200px;
}

.peach-coin-logo {
  width: 60px;
}

.peach-coin-amount {
  font-weight: 750;
  font-size: larger;
  line-height: 1.2em;
}

.peach-coin-description {
  font-weight: 500;
  line-height: 1.2em;
}

.profile-information {
  width: 40%;
  background-color: #f5b98c;
}

.profile-transaction-history {
  width: 60%;
  background-color: #f5b98c;
}

.profile-logo {
  width: 130px;
}

.choices {
  background-color: #ffe3c8;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  height: 3em;
}

.edit-button {
  position: absolute;
  width: 35px;
  top: 70%;
  right: 7%;
  cursor: pointer;
  border-radius: 50%;
}

.edit-batch-button {
  width: 35px;
  right: 1%;
  top: 0.5em;
}

.choices-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

.choices-item.active {
  background-color: #f5b98c;
}

.profile-container {
  padding: 3em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    padding: 0.3em !important;
    margin: 0.3em !important;
  }

  .profile-information {
    width: 100%;
  }

  .profile-transaction-history {
    width: 100%;
    min-height: 20vh;
  }

  .profile-container .choices-dropdown {
    background-color: #ffe3c8;
    border-radius: 0;
    display: block !important;
  }

  .profile-container .choices {
    display: none !important;
  }

  .profile-navbar-brand {
    height: 30px;
  }
}
