.shopping-cart-container {
  background: #FFE7D3;
  min-height: 100vh;
}

.shopping-cart-card {
  height: 80%;
  min-height: 10em;
  background-color: #fff1e6;
  overflow: hidden;
}

.user-information {
  border-bottom: 1px solid black;
}

.product-container .img-wrapper {
  width: 10em;
}

.product-container:hover {
  background-color: #ffead1;
  cursor: pointer;
}

.product-container:hover img{
  transform: scale(1.05);
}

input[type="checkbox"] {
  --scale: 1em;
  width: var(--scale);
  height: var(--scale);
}

.user-information-checkbox-container>*:hover {
  cursor: pointer;
  color: blue;
}