.shopping-cart-container {
  background: #FFE7D3;
  min-height: 100vh;
}

.shopping-cart-card {
  height: 80%;
  min-height: 10em;
  background-color: #fff1e6;
  overflow: hidden;
}

.user-information {
  border-bottom: 1px solid black;
}

.product-container .img-wrapper {
  width: 10em;
}

.product-container:hover {
  background-color: #ffead1;
  cursor: pointer;
}

.product-container:hover img{
  transform: scale(1.05);
}

input[type="checkbox"] {
  --scale: 1em;
  width: var(--scale);
  height: var(--scale);
}

.user-information-checkbox-container>*:hover {
  cursor: pointer;
  color: blue;
}

.summary-wrapper {
  /* background-color: #ffcf93; */
  background-color: #FFF1E6;
  width: 35%;
}

.product-wrapper {
  width: 65%;
}

.order-summary-product-wrapper {
  background-color: white;
}

.button-buy {
  background-color: hsl(28, 100%, 86%) !important;
}

.button-buy:hover {
  background-color: hsl(28, 91%, 77%) !important;
}

.button-buy:active {
  background-color: hsl(28, 100%, 71%) !important;
}

@media screen and (max-width: 768px) {
  .shopping-cart-products-container {
    flex-direction: column;
  }

  .summary-wrapper {
    width: 100%;
  }
  .product-wrapper {
    width: 100%;
  }
}