.user-product-page {
  background-color: #FFE7D3;
  min-height: 100vh;
}

.add-product-button {
  background: #FFD9B8 !important;
  position: absolute !important;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
}

.add-product-button:hover {
  background-color: hsl(28, 91%, 77%) !important;
}

.add-product-button:active {
  background-color: hsl(28, 100%, 71%) !important;
}

@media only screen and (max-width: 768px) {
  .add-product-button {
    position: initial !important;
    min-width: 100% !important;
  }

  .title-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .title-button-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}